# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Virtualenv
.Python
bin
Scripts
lib
include
share
tcl

# Installer logs
pip-log.txt
pip-selfcheck.json

# Unit test / coverage reports
.coverage
.tox

#############
## Application Specific
#############

# vendor proprietary javascript
Editor-*/
FieldType-Selectize/
jquery.ui.dialog-clickoutside.js

# all cfg files
*.cfg
client_secret.json

# api cfg files
apicfg/

# runningroutes cfg files
runningroutescfg/

# temporary file during d3v4 update
js/membership-stats-d3v4partial.js
