
Options +FollowSymLinks +ExecCGI
AddHandler fcgid-script .py
RewriteEngine On
RewriteBase /api/

# no caching
<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresByType text/html "now"
    ExpiresDefault "now"
</IfModule>

# everything else sent to flask
RewriteRule ^(apidispatch\.py/.*)$ - [L]
RewriteRule ^(.*)$ apidispatch.py/$1 [L]
